{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/home/css/home.css">
  <link rel="stylesheet" href="/home/css/home_response.css">
{% endblock %}
{% block sidebar %}
  <!-- 系统菜单开始 -->
  {% include "./sysmenu.html" %}
  <!-- 系统菜单结束 -->
{% endblock %}
{% block main %}
  <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/">首页</a>
      </li>
      <li>
        <i class="ace-icon fa fa-cog home-icon"></i>
        <a href="/sys/organization">系统管理</a>
      </li>
      <li class="active">组织</li>
    </ul>
  </div>
  <div class="page-header">
    <h1>组织</h1>
    <div class="operate hidden">
      <p>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>新增用户</span>
      </p>
    </div>
  </div>
  <div class="page-content row">
    <form id="userForm" class="form-horizontal">
      <div class="widget-box">
        <div class="widget-header widget-header-blue widget-header-flat">
          <h4 class="widget-title lighter">组织信息</h4>
        </div>
        <div class="widget-body widget-main">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="username" class="col-md-2 control-label">名称</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="firstname" id="username" placeholder="请输入公司名称" value="深圳市合创数据科技有限公司">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="userid" class="col-md-2 control-label">ID</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="lastname" id="userid" readonly="readonly" value="aGvasdfas3w3baer=">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="industry" class="col-md-2 control-label">行业</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="firstname" id="industry" placeholder="请输入所属行业" value="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="peoplenum" class="col-md-2 control-label">员工人数</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="lastname" id="peoplenum" placeholder="请输入公司人数" value="10-50">
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="desc" class="col-md-1 control-label">描述</label>
                <div class="col-md-11">
                  <input type="text" class="form-control" name="position" id="desc" readonly="readonly" value="公司描述">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-box">
        <div class="widget-header widget-header-blue widget-header-flat">
          <h4 class="widget-title lighter">地址信息</h4>
        </div>
        <div class="widget-body widget-main">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="address1" class="col-md-2 control-label">地址一</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="firstname" id="address1" placeholder="请输入详细地址" value="深圳市南山科技园">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="address2" class="col-md-2 control-label">地址二</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="lastname" id="address2" placeholder="请输入详细地址" value="">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="city" class="col-md-2 control-label">城市</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="firstname" id="city" placeholder="请输入城市" value="深圳">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="provence" class="col-md-2 control-label">省市</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="lastname" id="provence" placeholder="请输入省市" value="广东省">
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="country" class="col-md-2 control-label">国家</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="position" id="country" placeholder="请输入国家" value="中国">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-box">
        <div class="widget-header widget-header-blue widget-header-flat">
          <h4 class="widget-title lighter">历史信息</h4>
        </div>
        <div class="widget-body widget-main">
          <div class="col-md-12">
            <div class="col-md-6">
              <div class="form-group">
                <label for="createtime" class="col-md-2 control-label">创建时间</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="firstname" id="createtime" readonly="readonly" value="2018-06-09 12:31">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="updatetime" class="col-md-2 control-label">更新时间</label>
                <div class="col-md-10">
                  <input type="text" class="form-control" name="lastname" id="updatetime" readonly="readonly" value="2018-08-10 12:30">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/home/js/home.js"></script>
{% endblock %}