{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/home/css/home.css">
  <link rel="stylesheet" href="/home/css/home_response.css">
{% endblock %}
{% block sidebar %}
  <!-- 系统菜单开始 -->
  {% include "./sysmenu.html" %}
  <!-- 系统菜单结束 -->
{% endblock %}
{% block main %}
  <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/">首页</a>
      </li>
      <li>
        <i class="ace-icon fa fa-cog home-icon"></i>
        <a href="/sys/organization">系统管理</a>
      </li>
      <li class="active">用户组</li>
    </ul>
  </div>
  <div class="page-header">
    <h1>用户组</h1>
    <ul class="operate">
      <li>
        <a href="/sys/groupdesc?type=new">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>新增用户组</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>操作</th>
              <th>用户组名</th>
              <th>描述</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="action-buttons">
                <i class="ace-icon fa fa-pencil bigger-130 green"></i>
                <i class="ace-icon fa fa-trash-o bigger-130 red"></i>
              </td>
              <td>
                <a href="/sys/groupdesc">普通用户组</a>
              </td>
              <td>权限一般</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 删除确认弹出开始 -->
  <div class="alert alert-info alert-dismissible " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h5>你确定要删除该条记录吗？</h5>
    <button type="button" class="btn btn-danger">取消</button>
    <button type="button" class="btn btn-primary pull-right">确认</button>
  </div>
  <!-- 删除确认弹出结束 -->
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/system/js/usergroup.js"></script>
{% endblock %}