{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/home/css/home.css">
  <link rel="stylesheet" href="/home/css/home_response.css">
{% endblock %}
{% block sidebar %}
  <!-- 系统菜单开始 -->
  {% include "./sysmenu.html" %}
  <!-- 系统菜单结束 -->
{% endblock %}
{% block main %}
  <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/">首页</a>
      </li>
      <li>
        <i class="ace-icon fa fa-cog home-icon"></i>
        <a href="/sys/organization">系统管理</a>
      </li>
      <li class="active">用户角色</li>
    </ul>
  </div>
  <div class="page-header">
    <h1>用户角色</h1>
    <ul class="operate">
      <li>
        <a href="/sys/roledesc?type=new">
          <i class="fa fa-plus" aria-hidden="true"></i>
          <span>新增角色</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="page-content row">
    <div class="col-xs-12">
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>序号</th>
              <th>角色名</th>
              <th>描述</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>
                <a href="/sys/roledesc">Admin</a>
              </td>
              <td>权限一般</td>
              <td class="action-buttons">
                <i class="ace-icon fa fa-pencil bigger-130 green"></i>
                <i class="ace-icon fa fa-trash-o bigger-130 red"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 删除确认弹出开始 -->
  <div class="alert alert-info alert-dismissible " role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <i class="fa fa-close" aria-hidden="true"></i>
    </button>
    <h5>你确定要删除该条记录吗？</h5>
    <button type="button" class="btn btn-danger">取消</button>
    <button type="button" class="btn btn-primary pull-right">确认</button>
  </div>
  <!-- 删除确认弹出结束 -->
{% endblock %}
{% block js %}
  <script type="text/javascript">
    // 编辑
    $('.action-buttons .fa-pencil').click(function () {
      location.href = '/sys/roledesc'
    })
    // 删除
    $('.action-buttons .fa-trash-o').click(function () {
      utils.showOverlay();
      $('.alert').show()
    })
    // 弹窗 取消/关闭
    $('.alert .close,.alert .btn-danger').click(function () {
      utils.hideOverlay();
      $('.alert').hide();
    })
    // 弹窗 确认
    $('.alert .btn-primary').click(function () {
      utils.hideOverlay();
      $('.alert').hide();
      // 删除接口调用
    })
  </script>
{% endblock %}