{% extends "../common/layout.html" %}
{% block head %}
  <!-- <link rel="stylesheet" href="/ueditor/themes/default/css/ueditor.min.css"> -->
  <link rel="stylesheet" href="/integration/css/model-edit.css">
  <link rel="stylesheet" href="/home/css/home_response.css">
{% endblock %}
{% block sidebar %}
  <!-- 系统菜单开始 -->
  {% include "./modelmenu.html" %}
  <!-- 系统菜单结束 -->
{% endblock %}
{% block main %}
  <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/">首页</a>
      </li>
      <li>
        <i class="ace-icon fa fa-cog home-icon"></i>
        <a href="/model/types">系统集成</a>
      </li>
      <li class="active">新增模板</li>
    </ul>
  </div>
  <div class="page-header">
    <h1>新增模板</h1>
    <div class="operate">
      <p>
        <i class="fa fa-close" aria-hidden="true"></i>
        <span>关闭模板</span>
      </p>
    </div>
  </div>
  <div class="page-content container-fluid">
    <div class="edit-box">
      <div class="lf-content">
        <div class="widget-box widget-color-blue2">
          <div class="widget-header">
            <h4 class="widget-title lighter smaller">
              demo
            </h4>
            <ul class="operate">
              <li>
                <span>有效性</span>
              </li>
              <li>
                <span>保存</span>
              </li>
              <li>
                <span>运行</span>
              </li>
            </ul>
          </div>
          <div class="widget-body">
            <div class="widget-main padding-8"></div>
          </div>
        </div>
      </div>
      <div class="rg-config">
        <div class="widget-box widget-color-blue2">
          <div class="widget-header">
            <h4 class="widget-title lighter smaller">
              demo
            </h4>

          </div>
          <div class="widget-body">
            <div class="widget-main padding-8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/home/js/home.js"></script>
  <!-- <script type="text/javascript" src="/ueditor/ueditor.all.min.js"></script> -->
  <!-- <script type="text/javascript" src="/ueditor/ueditor.config.js"></script> -->
{% endblock %}