{% extends "../common/layout.html" %}
{% block head %}
  <link rel="stylesheet" href="/home/css/home.css">
  <link rel="stylesheet" href="/home/css/home_response.css">
{% endblock %}
{% block sidebar %}
  <!-- 系统菜单开始 -->
  {% include "./modelmenu.html" %}
  <!-- 系统菜单结束 -->
{% endblock %}
{% block main %}
  <div class="breadcrumbs ace-save-state breadcrumbs-fixed">
    <ul class="breadcrumb">
      <li>
        <i class="ace-icon fa fa-home home-icon"></i>
        <a href="/">首页</a>
      </li>
      <li>
        <i class="ace-icon fa fa-cog home-icon"></i>
        <a href="/model/types">系统集成</a>
      </li>
      <li class="active">模板分类</li>
    </ul>
  </div>
  <div class="page-header">
    <h1>模板分类</h1>
    <div class="operate hidden">
      <p>
        <i class="fa fa-plus" aria-hidden="true"></i>
        <span>新增用户</span>
      </p>
    </div>
  </div>
  <div class="page-content row">
    <div class="col-xs-12"></div>
  </div>
{% endblock %}
{% block js %}
  <script type="text/javascript" src="/home/js/home.js"></script>
{% endblock %}