.edit-box {
  position: absolute;
  top: 20px;
  right: 20px;
  bottom: 20px;
  left: 20px;
}

.operate {
  cursor: pointer;
}

.widget-box {
  margin: 0;
  height: 100%;
  overflow-y: auto;
}

.lf-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 94%;
  bottom: 0;
}

.rg-config {
  position: absolute;
  width: 20%;
  top: 0;
  right: 0;
  bottom: 0;
}

.fa {
  margin-right: 10px;
  margin-top: 8px;
  font-size: 20px;
  cursor: pointer;
}

.rg-config .widget-header {
  border-left: 1px solid #ddd;
}

.rg-config>.widget-box {
  border-left: none;
}

.edit-box .operate {
  float: right;
  overflow: hidden;
  margin: 0;
}

.edit-box .operate li {
  float: right;
  width: 60px;
  line-height: 38px;
  cursor: pointer;
}

.error-box {
  margin-bottom: 10px;
}

input[type=checkbox].ace.ace-switch+.lbl::before {
  text-indent: -32px;
}

.rg-config.box-fold {
  width: 6%;
}

.box-fold .widget-toolbar {
  padding: 0 6px;
}

.box-fold .widget-main .widget-body, .box-fold .widget-main .fa-close {
  display: none;
}

.edui-editor {
  width: 100% !important;
}