<header>
  <!-- 顶部内容 -->

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">
        <img src="../logo.png" class="logo" alt="">
        <sub>管理平台</sub>
      </a>
      <div class="navbar-section">
        <span class="curr-service">系统管理</span>
        <span class="glyphicon glyphicon-menu-down"></span>
      </div>
    </div>
    <div class="service-lists">
      <h2 class="lists-title">我的服务</h2>
      <ul>
        <li>
          <a href="/sys/organization">系统管理</a>
        </li>
        <li>
          <a href="/sys/organization">系统管理</a>
        </li>
        <li>
          <a href="/sys/organization">系统管理</a>
        </li>
        <li>
          <a href="/sys/organization">系统管理</a>
        </li>
        <li>
          <a href="/sys/organization">系统管理</a>
        </li>
      </ul>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-bell"></span>
            <span class="badge">4</span>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-user"></span></a>
        </li>
        <li>
          <a href="#">
            <span class="glyphicon glyphicon-question-sign"></span></a>
        </li>
      </ul>
    </div>
  </nav>

</header>