<div class="row">
  <div class="col-xs-12">
    <!-- 筛选表单开始 -->
    <form class="form-horizontal" role="form">
      <div class="col-xs-12">
        <div class="col-md-4">
          <div class="form-group">
            <label for="username" class="col-sm-3 control-label no-padding-right">用户名</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="username" id="username" placeholder="用户名" value="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="date-range-picker" class="col-sm-2 control-label no-padding-right">时间</label>
            <div class="col-sm-10">
              <div class="row">
                <div class="col-xs-8 col-sm-11">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="fa fa-calendar bigger-110"></i>
                    </span>
                    <input class="form-control" type="text" name="date-range-picker" placeholder="请选择时间段" id="date-range-picker">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2 text-right">
          <button class="btn btn-sm btn-success" type="submit">过滤</button>
          <button class="btn btn-sm btn-warning" type="reset">重置</button>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="assetObject" class="col-sm-3 control-label no-padding-right">资产对象</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="position" id="assetObject" placeholder="资产对象" value="">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="assetTypes" class="col-sm-3 control-label no-padding-right">资产类型</label>
            <div class="col-sm-9">
              <select class="chosen-select form-control" id="assetTypes">
                <option value="">请选择……</option>
                <option value="AL">Alabama</option>
                <option value="AK">Alaska</option>
                <option value="AZ">Arizona</option>
                <option value="AR">Arkansas</option>
                <option value="CA">California</option>
                <option value="CO">Colorado</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label for="events" class="col-sm-3 control-label no-padding-right">事件</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" name="phone" id="events" placeholder="事件" value="">
            </div>
          </div>
        </div>

      </div>
    </form>
    <!-- 筛选表单结束 -->
  </div>
</div>